.App {
  text-align: center;
  background-image: linear-gradient(to right, rgb(92, 105, 115) ,rgb(52, 85, 52), rgb(128, 55, 55));
  /* background: 	#1B1212; */
  height:650px;
  
}
/* .blurBack{
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
